<ngx-smart-modal #jobDetailsModal [identifier]="'jobDetailsModal'" (onClose)="onClose()" (onOpen)="onOpen()"
    [dismissable]="false">
<div style="margin-top: 20px">
    <div class="viewJobContainer">
        <div class="jobAddress">
          <div class="jobTitleContainer">
            <div class="jobTitleRoute">{{data.Route}}</div>
            <div _ngcontent-c3="" class="jobTitleId">{{jobTitle}}</div>
            <div *ngIf="data.Status == 'New'" class="jobTitleStatus">New <i class="fa fa-circle red"></i></div>
            <div *ngIf="data.Status == 'Assigned'" class="jobTitleStatus">Out <i class="fa fa-circle orange"></i></div>
            <div *ngIf="data.Status == 'Complete'" class="jobTitleStatus">Done <i class="fa fa-circle green"></i></div>
          </div>
          <h3>{{data.JobType}} - {{data.JobStrDate}}</h3>
          <p>{{data.Address1}}</p>
          <p *ngIf="data.Address2">{{data.Address2}}</p>
          <p>{{data.City}}</p>
          <p>{{data.Postcode}}</p>
        </div>
        <button class="detailBtn" (click)="showMapDiv(data)"><i class="fa fa-map"></i> Open Map</button>
        <div class="jobAddress">
          <p style="padding: 3px"></p>
          <h3>Details</h3>
        <div *ngFor="let deets of data.Details">
          <p>{{deets.qtdy}} x {{deets.name}}{{deets.qtdy > 1 ? 's' : ''}}</p>
        </div>
        <p style="padding: 3px"></p>
        </div>
  
        <p class="jobTitle sub">Employees</p>
        <div class="empBox">
          <p *ngFor="let emp of data.JobEmployees" style="font-size: small; margin: 1px;">
            {{emp.firstName}} {{emp.lastName}}<br>
          </p>
        </div>
        <button *ngIf="data.isAdmin" class="detailBtn add" (click)="openEmployeePopup(data)"><i class="fa fa-plus"></i> Add Employees</button>
        <p style="padding: 2px; margin: 0"></p>      
        <p class="jobTitle sub">Notes</p>
        <div class="notesBox">
          <p *ngFor="let notes of data.Notes" style="font-size: small; margin: 1px; white-space: normal;">
            <u style="text-decoration: underline; font-weight: bold;">{{notes.name}} ({{notes.dateTime}})</u>
            <br>{{notes.note}}
          </p>
        </div>
        <button class="detailBtn add" (click)="openNotesPopup(data)"><i class="fa fa-plus"></i> Add Note</button>
        <br>
        <button class="detailBtn add" (click)="markAsComplete(data)"><i class="fa fa-check"></i> Job Complete</button>
        <br>
        <button *ngIf="data.isAdmin" class="detailBtn addEdit" (click)="openDatePopup(data)"><i class="fa fa-calendar"></i> Change date</button>
        <button *ngIf="data.isAdmin" class="detailBtn edit" (click)="openEditJobPopup(data)"><i class="fa fa-edit"></i></button>
      </div>
</div>
</ngx-smart-modal>